3.Node Red/Current Flow.json
[{"id":"5a524a44.dabe24","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a6e108ce.e0a998","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4955cab0.928f14","type":"ibmiot","name":"NodeMCU","keepalive":"60","serverName":"e1y7dq.messaging.internetofthings.ibmcloud.com","cleansession":false,"appId":"","shared":false},{"id":"6cfe9f13.ab1a8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"16d2275f.2a79d9","type":"ui_group","name":"Main","tab":"6cfe9f13.ab1a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"61b0339.b2fa2cc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"54f478d0.198928","type":"debug","z":"5a524a44.dabe24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":220,"wires":[]},{"id":"8d84685e.eafb48","type":"ui_form","z":"5a524a44.dabe24","name":"","label":"","group":"16d2275f.2a79d9","order":0,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":150,"y":400,"wires":[["400d3c37.867674"]]},{"id":"400d3c37.867674","type":"function","z":"5a524a44.dabe24","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":320,"wires":[["5b88fbfc.151a34","ae58389b.608538"]]},{"id":"efd071cc.8bb2b","type":"function","z":"5a524a44.dabe24","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":340,"wires":[["f004e1cc.2617e","31de0175.5001be"]]},{"id":"5b88fbfc.151a34","type":"watson-conversation-v1","z":"5a524a44.dabe24","name":"","workspaceid":"26c9c1bc-de47-400c-ad7a-4702bf5ad09c","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fb48cf99-08b7-40f1-a775-651e60720d48","timeout":"","optout-learning":false,"x":500,"y":280,"wires":[["54f478d0.198928","efd071cc.8bb2b"]]},{"id":"ae58389b.608538","type":"ui_text","z":"5a524a44.dabe24","group":"16d2275f.2a79d9","order":1,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":430,"y":420,"wires":[]},{"id":"f004e1cc.2617e","type":"ui_text","z":"5a524a44.dabe24","group":"16d2275f.2a79d9","order":2,"width":"5","height":"4","name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-left","x":790,"y":420,"wires":[]},{"id":"31de0175.5001be","type":"ui_audio","z":"5a524a44.dabe24","name":"","group":"16d2275f.2a79d9","voice":"Google US English","always":"","x":860,"y":320,"wires":[]}]